@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after { box-sizing: border-box; }
button { border: none; background: none; padding: 0; cursor: pointer; font-family: inherit; }
